:root {
    --text: #070503;
    --background: #f5efea;
    --primary-button: #3e6884;
    --secondary-button: #ede1d9;
    --accent: #3e6884;
}

/* * {
    outline: solid 1px red;
} */

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background);
}

header {
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: var(--text);
}

header h1 {
    color: #4d4d4d;
    font-size: 40px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 32px;
}

header h2 {
    font-weight: 400;
    font-size: 16px;
    color: grey;
    margin-top: 0;
    margin-bottom: 0;
}

.text-form {
    background-color: var(--secondary-button);
    width: 700px;
    margin: 32px auto;
    border-radius: 5px;
    padding: 16px 20px;
    box-shadow: 0 0 5px grey;
}

.text-form textarea {
    background-color: var(--background);
    box-sizing: border-box;
    font-family: inherit;
    width: 100%;
    border-radius: 5px;
    resize: vertical;
    padding: 5px;
    margin-bottom: 5px;
}

.text-form ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 16px;
}

.lbl-input-desc {
    display: block;
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.btn-container {
    display: flex;
    justify-content: end;
}

.btn-submit {
    background-color: var(--primary-button);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 7px 20px;
    border-style: none;
}

.error-message {
    color: red;
}

.result-text {
    background-color: var(--background);
    padding: 5px;
    border-radius: 5px;
    min-width: 700px;
    min-height: 30px;
    box-sizing: border-box;
}